<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  {% block head %}
  {% endblock %}
</head>

<body>

  <style>
    body {
      font-family: monospace;
      text-align: center;
    }
    a:visited{
      color: #0077ff
    }
    a:active {
      color: #ffee00;
      font-size: 1.05em;
    }
    a:hover {
      color: #ffa60c;
    }
  </style>

  <h1>Blog</h1>
  <h4>By: Parker</h4>
  <nav>
    <a href="/">Home</a> | <a href="/archive/">Archive</a>
  </nav>

  {% block content %}
  {% endblock %}

</body>
</html>
